body{
font-family:Arial;
text-align:center;
background:#f4f4f4;
}
.main-image{
width:300px;
border-radius:10px;
}
.btn{
background:#e91e63;
color:white;
padding:10px 20px;
text-decoration:none;
border-radius:5px;
}
.gallery{
display:flex;
flex-wrap:wrap;
justify-content:center;
gap:20px;
}
.card{
background:white;
padding:10px;
border-radius:10px;
}
.card img{
width:200px;
border-radius:10px;
}
